<p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @admin.school_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin.location %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
