<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_admin.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_admin.email %>
</p>

<%= link_to "Edit", edit_admin_path(current_admin) %> | 
<%= link_to "Back", admins_path %> | 
<%= link_to "Home", root_path %>
