<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>School name:</strong>
  <%= @student.school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>


<%= link_to "Borrows", student_borrows_path(params[:id]) %> | 
<%= link_to "Holds", student_holds_path(params[:id]) %><br><br>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
