<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_student.full_name %>
</p>

<p>
  <strong>School name:</strong>
  <%= current_student.school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_student.email %>
</p>


<%= link_to "Borrows", student_borrows_path(current_student) %> | 
<%= link_to "Holds", student_holds_path(current_student) %><br><br>
<%= link_to "Edit", edit_student_registration_path(current_student) %> | 
<%= link_to "Back", students_path %> | 
<%= link_to "Home", root_path %>