<p>
  <strong>Name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>School name:</strong>
  <%= @student.school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'New Borrow', new_borrow_path %> | 
<%= link_to 'New Hold', new_hold_path %><br><br>
<%= hide_admin_action(link_to "Borrows History", student_borrows_path(@student)) %><%= hide_admin_action(" | ") %>
<%= hide_admin_action(link_to "Holds History", student_holds_path(@student)) %>
<%= hide_admin_action(tag.br) %><%= hide_admin_action(tag.br) %>
<% if @student == current_student %>
  <%= link_to "Edit", edit_student_registration_path(@student) %> | 
<% else %>
  <%= hide_admin_action(link_to "Edit", edit_student_registration_path(@student)) %><%= hide_admin_action(" | ") %>
<% end %>
<%= link_to "Back", students_path %> | 
<%= link_to "Home", root_path %>