<p>
  <strong>Name:</strong>
  <%= @student.full_name %>
</p>

<p>
  <strong>School name:</strong>
  <%= @student.school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'New Borrow', new_student_borrow_path(@student) %>
<%= link_to 'New Hold', new_student_hold_path(@student) %><br>
<%= hide_admin_action(link_to "Borrows History", student_borrows_path(@student)) %>
<%= hide_admin_action(link_to "Holds History", student_holds_path(@student)) %>
<%= hide_admin_action(tag.br) %>
<%= hide_admin_action(link_to "Edit", edit_student_registration_path(@student)) %>
<%= hide_admin_action(link_to "Delete", @student, method: :delete, data: { confirm: "Are you sure?" }) %>
<%= hide_admin_action(tag.br) %>
<%= hide_admin_action(link_to "Back", students_path) %>
<% if current_student %>
  <%= link_to "Back", school_students_path(@student.school) %>
<% end %>
<%= link_to "Home", root_path %>