<% if !!current_admin %>
  <li class="nav-item">
    <a class="nav-link" href="<%= admin_registration_path(current_admin) %>">Admin Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= schools_path %>">Schools</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= students_path %>">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= libraries_path %>">Libraries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= books_path %>">Books</a>
  </li>
<% end %>

<% if !!current_student %>
  <li class="nav-item">
    <a class="nav-link" href="<%= school_students_path(current_student.school) %>">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= school_libraries_path(current_student.school) %>">Libraries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= school_books_path(current_student.school) %>">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= student_borrows_path(current_student) %>">My Borrows</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= student_holds_path(current_student) %>">My Holds</a>
  </li>
<% end %>