<%= form_with(model: library, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { resource: library } %>

  <div class="field">
    <%= form.label "Room Number" %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
