<p id="notice"><%= notice %></p>

<p>
  <strong>Room Number:</strong>
  <%= @library.room_number %>
</p>


<%= link_to "Books", library_books_path(@library) %><br><br>
<%= hide_admin_action(link_to "Edit", edit_library_path(@library)) %><%= hide_admin_action(" | ") %>
<%= link_to "Back", libraries_path %> | 
<%= link_to "Home", root_path %>
