<%# Home Page %>
<h1>HOME PAGE</h1>

<h3>Session & Registration Links</h3>
<%= link_to "Admin Login", new_admin_session_path %>
<%= link_to "Admin Logout", destroy_admin_session_path, method: :delete %>
<%= link_to "Create New Admin", new_admin_registration_path %><br>
<%= link_to "Student Login", new_student_session_path %>
<%= link_to "Student Logout", destroy_student_session_path, method: :delete %>
<%= link_to "Create New Student", new_student_registration_path %><br>

<h2>Index Links</h2>
<% if !!current_admin %>
  <%= link_to "Admin", admin_path(current_admin) %>
  <%= link_to "Schools", admin_schools_path(current_admin) %>
  <%= link_to "Students", admin_students_path(current_admin) %>
  <%= link_to "Libraries", admin_libraries_path(current_admin) %>
  <%= link_to "Books", admin_books_path(current_admin) %>
  <%= link_to "Borrows", admin_borrows_path(current_admin) %>
  <%= link_to "Holds", admin_holds_path(current_admin) %>
<% end %>
<% if !!current_student %>
  <%= link_to "Students", school_students_path(current_student.school) %>
  <%= link_to "Libraries", school_libraries_path(current_student.school) %>
  <%= link_to "Books", school_books_path(current_student.school) %>
  <%= link_to "Borrows", student_borrows_path(current_student) %>
  <%= link_to "Holds", student_holds_path(current_student) %>
<% end %>
