<%= form_with(model: hold, local: true) do |form| %>
  <% if hold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hold.errors.count, "error") %> prohibited this hold from being saved:</h2>

      <ul>
      <% hold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :borrowed %>
    <%= form.check_box :borrowed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
