<%= form_with(model: hold, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { resource: hold } %>

  <div class="field">
    <%= form.label :borrowed %>
    <%= form.check_box :borrowed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
