<p id="notice"><%= notice %></p>

<h1>Holds</h1>

<table>
  <thead>
    <tr>
      <th>Borrowed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holds.each do |hold| %>
      <tr>
        <td><%= hold.borrowed %></td>
        <td><%= link_to 'Show', hold %></td>
        <td><%= link_to 'Edit', edit_hold_path(hold) %></td>
        <td><%= link_to 'Destroy', hold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hold', new_hold_path %>
