<p>
  <strong>Available:</strong>
  <%= @hold.available %>
</p>

<p>
  <strong>Borrowed:</strong>
  <%= @hold.borrowed %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @hold.cancelled %>
</p>

<%= link_to "Edit", edit_student_hold_path(current_student, @hold) %>
<%= hide_admin_action(link_to "Delete", student_hold_path(current_student, @hold), method: :delete, data: { confirm: "Are you sure?" }) %>
<%= link_to "Back", student_holds_path(current_student) %><br>

<%= link_to "Home", root_path %>
