<p>
  <strong>Available:</strong>
  <%= @hold.available %>
</p>

<p>
  <strong>Borrowed:</strong>
  <%= @hold.borrowed %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @hold.cancelled %>
</p>

<%= link_to "Edit", edit_hold_path(@hold) %>
<%= hide_admin_action(link_to "Delete", @hold, method: :delete, data: { confirm: "Are you sure?" }) %>
<%= link_to "Back", holds_path %><br>

<%= link_to "Home", root_path %>
