<%= form_with(model: book, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { resource: book } %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :on_shelf %>
    <%= form.check_box :on_shelf %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
