<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Copies:</strong>
  <%= @book.copies %>
</p>

<%= link_to 'New Borrow', new_book_borrow_path(@book) %>
<%= link_to 'New Hold', new_book_hold_path(@book) %><br>
<%= hide_admin_action(link_to "Borrows History", book_borrows_path(@book)) %>
<%= hide_admin_action(link_to "Holds History", book_holds_path(@book)) %>
<%= hide_admin_action(tag.br) %>
<%= hide_admin_action(link_to "Edit", edit_book_path(@book)) %>
<%= hide_admin_action(link_to "Delete", @book, method: :delete, data: { confirm: "Are you sure?" }) %>
<%= hide_admin_action(link_to "Back", books_path) %><%= hide_admin_action(tag.br) %>
<% if current_student %>
  <%= link_to "Back", school_books_path(current_student.school) %><br>
<% end %>
<%= link_to "Home", root_path %>