<%= form_with(model: school, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { resource: @school } %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field(:admin_id, :value => current_admin.id) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
