<%= form_with(model: borrow, local: true) do |form| %>
  <%= render partial: "partials/form_errors", locals: { resource: borrow } %>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :renewed %>
    <%= form.check_box :renewed %>
  </div>

  <div class="field">
    <%= form.label :returned %>
    <%= form.check_box :returned %>
  </div>

  <div class="field">
    <%= form.label :overdue %>
    <%= form.check_box :overdue %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
