<h1>Borrows</h1>

<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Renewed</th>
      <th>Returned</th>
      <th>Overdue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
      <tr>
        <td><%= borrow.due_date %></td>
        <td><%= borrow.renewed %></td>
        <td><%= borrow.returned %></td>
        <td><%= borrow.overdue %></td>
        <td><%= link_to "Show", student_borrow_path(current_student, borrow) %></td>
        <td><%= link_to "Edit", edit_student_borrow_path(current_student, borrow) %></td>
        <td><%= hide_admin_action(link_to "Delete", student_borrow_path(current_student, borrow), method: :delete, data: { confirm: "Are you sure?" }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Borrow", new_student_borrow_path(current_student) %>
<%= link_to "Home", root_path %>
