<p id="notice"><%= notice %></p>

<p>
  <strong>Due date:</strong>
  <%= @borrow.due_date %>
</p>

<p>
  <strong>Renewed:</strong>
  <%= @borrow.renewed %>
</p>

<%= link_to 'Edit', edit_borrow_path(@borrow) %> |
<%= link_to 'Back', borrows_path %>
