<p>
  <strong>Due date:</strong>
  <%= @borrow.due_date %>
</p>

<p>
  <strong>Renewed:</strong>
  <%= @borrow.renewed %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @borrow.returned %>
</p>

<p>
  <strong>Overdue:</strong>
  <%= @borrow.overdue %>
</p>

<%= link_to "Edit", edit_borrow_path(@borrow) %> | 
<%= link_to "Back", borrows_path %> | 
<%= link_to "Home", root_path %>
