<p>
  <strong>Due date:</strong>
  <%= @borrow.due_date %>
</p>

<p>
  <strong>Renewed:</strong>
  <%= @borrow.renewed %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @borrow.returned %>
</p>

<p>
  <strong>Overdue:</strong>
  <%= @borrow.overdue %>
</p>

<%= link_to "Edit", edit_borrow_path(@borrow) %>
<%= hide_admin_action(link_to "Delete", @borrow, method: :delete, data: { confirm: "Are you sure?" }) %>
<%= link_to "Back", borrows_path %><br>

<%= link_to "Home", root_path %>
